<footer>


  <div class="col-auto">
    <h4><i class="fas fa-map-marker-alt fa-2x" style="color:red; "></i></h4>
    <h4><strong>Address</strong></h4>
    <h6 class="text-muted">XXX, YYY, XXX YYYY</h6>
  </div>

  <div class="col-auto">
    <h4><i class="fas fa-phone fa-2x" style="color: brown;"></i></h4>
    <h4><strong>Phone</strong></h4>
    <h6 class="text-muted">xxx-xxx-xxxx</h6>
  </div>

  <div class="col-auto">
    <h4><i class="fas fa-envelope fa-2x" style="color: royalblue;"></i></h4>
    <h4><strong>Email</strong></h4>
    <h6 class="text-muted">xxxx@tcs.com</h6>
  </div>

  <div class="col-auto">
    <h4><i class="fab fa-twitter-square fa-2x" style="color: royalblue;"></i></h4>
    <h4><strong>Twitter</strong></h4>
    <h6 class="text-muted">@tcs</h6>
  </div>



  <div class="col-auto">
    <h4><i class="fab fa-linkedin fa-2x" style="color: cornflowerblue;"></i></h4>
    <h4><strong>LinkedIn</strong></h4>
    <h6 class="text-muted">@xxxx.com</h6>
  </div>


</footer>
